<div class="feature-row-wrapper {% if section.settings.enable_light_bg == true %}light-bg{% endif %}">
  <div class="page-width feature-row">
    <div class="left">
      <h2><a href="{{ section.settings.button_link }}">{{ section.settings.heading }}</a></h2>
      {{ section.settings.text }}
      {% if section.settings.button_label != blank %}
        <div class="link">
          <a href="{{ section.settings.button_link }}">
            {{ section.settings.button_label }}
            <span><i aria-hidden="true" class="fas fa-chevron-right"></i></span>
          </a>
        </div>
      {% endif %}
    </div>
    <div class="right">
      {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | img_url: 'large' }}">
      {% endif %}
    </div>
  </div>
  {% if section.settings.enable_light_bg == false %}
    <div class="wavy-bg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
        c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
        c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
      </svg>
    </div>
  {% endif %}
</div>



{% schema %}
{
  "name": "Mindflow image with text",
  "class": "index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
	  "default": "Default heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
	{
      "type": "checkbox",
      "id": "enable_light_bg",
      "label": "Enable light background",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Mindflow image with text",
      "category": "Mindflow"
    }
  ]
}
{% endschema %}
