<div class="products-slider-wrapper" style="background-color: {{ section.settings.background_color }}">
    <div class="products-slider-content page-width feature-columns">
        <div class="product-header">
                    <h2>{{ section.settings.heading }}</h2>
                    <div class="container-arrows">
                        <div class="prev-review-slide">{% include 'review_arrow_left' %}</div>
                        <div class="next-review-slide">{% include 'review_arrow_right' %}</div>
                    </div>
        </div>
        <div class="feature-products">
            {% assign featured_collection = collections[section.settings.featured_collection] %}
            <!-- {{featured_collection}} -->
            {% for prod in featured_collection.products %}
                <div class="product">
                        <div class="image-wrapper">
                            <a href="{{  prod.url }}">
                                {%- assign img_url = prod | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}


                                <img class="lazyload lazypreload"
                                     data-src="{{ img_url }}"
                                     data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                                     data-sizes="auto">
                            </a>
                            <div class="add-to-cart-wrapper mobile">
                                <form action="/cart/add" method="post" enctype="multipart/form-data"
                                      id="add-to-cart-{{ prod.handle }}-{{ collection.handle }}-{{ section.id }}">
                                    <input type="hidden" name="form_type" value="product">
                                    <input type="hidden" name="quantity" value="1" min="1">
                                    <input type="hidden" name="id" value="{{ prod.variants[0].id }}">
                                    <div class="">
                                        <div name="add"
                                                data-add-to-cart
                                                class="js-go-cart-add-to-cart">
                                            <img src="{{ 'add-btn-mobile.svg' | asset_url }}" alt="">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <div class="product-content">
                    <h3>
                        <a href="{{  prod.url }}">
                            {{ prod.title }}
                        </a>
                    </h3>
                    <p>{{ prod.metafields.collection.intro }}</p>
                    <ul class="feature-list">
                        {% assign features = prod.metafields.collection.features | split: "," %}
                        {% for feature in features %}
                            <li>
                                <img src="{{ 'list-circle.svg' | asset_url }}" alt="list svg">
                                {{ feature | strip_html }}
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="bottom-content">
                    <div class="product-price">{{ prod.price | money }}</div>
                        <div class="add-to-cart-wrapper">
                            <form action="/cart/add" method="post" enctype="multipart/form-data"
                                  id="add-to-cart-{{ prod.handle }}-{{ collection.handle }}-{{ section.id }}">
                                <input type="hidden" name="form_type" value="product">
                                <input type="hidden" name="quantity" value="1" min="1">
                                <input type="hidden" name="id" value="{{ prod.variants[0].id }}">
                                <div class="">
                                    <div
                                            name="add"
                                            data-add-to-cart
                                            class="js-go-cart-add-to-cart">
                                        <img src="{{ 'add-button.svg' | asset_url }}" alt="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-and-button-wrapper-products" style="background-color: {{ section.settings.bg_color }};">
        <div class="page-width">
            <a class="hero__btn" href="{{ section.settings.button_link }}">
                {{ section.settings.button_label }}
            </a>
        </div>
    </div>
</div>

<style>

    /*TEXT AND BUTTON AT THE BOTTOM OF THE SECTION*/
    .product-header{
        padding-right: 165px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 44px;
    }
    .review_arrow_left{
        margin-right: 20px;
    }
    .container-arrows{
        display: flex;
    }
    .text-and-button-wrapper-products{
        margin-top: 0;
        text-align: center;
        padding: 90px 0 90px 0;
    }
    .text-block{
        font-family: "Graphik-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #222222;
        margin-bottom: 22px;
    }
    .text-and-button-wrapper-products .hero__btn.transparent{
        background: transparent;
        max-width: 203px;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 900px;
        font-style: normal;
        font-weight: 800;
        font-family: "Graphik-Regular";
        font-size: 16px;
        line-height: 20px;
        color: #FF4438;
        border: 1px solid #E4E7E9;
        margin: 0 auto;
        transition: 0.2s;
    }
    .text-and-button-wrapper-products .hero__btn.transparent:hover{
        color: #FF4438!important;
        background: #F5F6F7!important;
        border: 1px solid #E4E7E9;
    }
    .text-and-button-wrapper-products .hero__btn {
        background: #FF4438;
        border-radius: 900px;
        font-family: "Graphik-Regular";
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        border: 1px solid #FF4438;
        transition: 0.2s;
        padding: 22px 40px;
        display: inline-block;
        margin-top: 0;
        width: 218px;
    }
    .text-and-button-wrapper-products .hero__btn:hover{
        color: #FFFFFF!important;
        background: #C01616!important;
        border: 1px solid #C01616;
    }



    /*WHOLE SECTION SLIDER CSS*/

    .feature-columns .feature-products .product:nth-child(3n){
        margin-right: 40px;
    }
    .products-slider-wrapper{
        padding: 51px 0 0 0;
    }
    .products-slider-content{
        margin-left: 165px;
    }
    .products-slider-wrapper .product-header h2{
        font-size: 32px;
        line-height: 48px;
        color: #222222;
        font-family: "Graphik-Regular";
        margin-bottom: 0;
    }
    .products-slider-wrapper .feature-columns .feature-products .product{
        margin-right: 32px!important;
    }
    .header-content{
        margin-right: 160px;
        display: flex;
        justify-content: space-between;
        min-width: 360px;
        align-items: center;
    }
    .header-content a.view-all-btn{
        color: #FF4438;
        font-size: 16px;
        line-height: 20px;
        font-family: "Graphik-Regular";
        border-bottom: 2px solid;
        padding-bottom: 2px;
        font-weight: 600;
        margin-left: 8px;
    }
    .header-content a.view-all-btn:hover{
        border-bottom: none;
    }
    .slider-buttons-wrapper{
        display: flex;
        min-width: 144px;
        justify-content: space-between;
    }


    .feature-list li{
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: "Graphik-Regular";
    }
    .feature-list{
        padding-bottom: 13px;
        color: #6C6E73;
    }
    .product{
        background: #ffffff;
        border-radius: 8px;

    }
    .product .image-wrapper img{
        max-height: 300px;
        margin: 0 auto;
        width: 100%;
        object-fit: cover;
    }
    .image-wrapper{
        border-radius: 8px 8px 0 0;
        overflow: hidden;
    }
    .products-slider-wrapper .feature-products .product .image-wrapper{
        margin-bottom: 0;
    }
    .feature-list li img{
        max-width: 16px;
        margin-right: 10px;
    }
    .product-content{
        padding: 24px 32px 10px 32px;
    }
    .product-content h3{
        font-size: 18px;
        line-height: 26px;
        font-family: "Graphik-Regular";
        margin-bottom: 10px;
    }
    .feature-columns .feature-products .product .feature-list li{
        margin-bottom: 3px;
    }
    .product-content p{
        color: #6C6E73;
        font-size: 14px;
        line-height: 22px;
        font-family: "Graphik-Regular";
        margin-top: 0;
        min-height: auto;
        margin-bottom: 20px;
    }
    .bottom-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .product-price{
        font-size: 18px;
        line-height: 26px;
        font-family: "Graphik-Regular";
        font-weight: 600;
    }
    .feature-products button{
        background: none;
        padding: 0;
        margin: 0!important;
    }
    .products-slider-content .slick-track{
        display: flex!important;
    }
    .products-slider-content .slick-slide{
        height: inherit!important;
    }


    .feature-products .slick-list{
        padding: 0 10% 0 0px !important;
    }
    .feature-columns .feature-products .product:nth-child(3n) {
        margin-right: 16px;
    }
    .feature-columns .feature-products .product:not(:nth-child(3n)) {
        margin-right: 16px;
    }
    .add-to-cart-wrapper.mobile{
        display: none;
    }

    .products-slider-content .slider-buttons-wrapper .slick-arrow{
        border: 1px solid transparent;
    }
    .js-go-cart-add-to-cart:hover{
        background-color: #F5F6F7;
        border-radius: 50%;
    }
    @media (max-width: 1250px){
        .products-slider-content{
            margin-left: 80px;
        }
        .product-header{
            padding-right: 80px;
        }
    }
    @media (max-width: 970px){
        .products-slider-content{
            margin-left: 30px;
        }
        .header-content {
            margin-right: 32px;
        }
        .header-content a.view-all-btn{
            margin-right: 32px;
        }
        .header-content{
            margin-right: 0px;
        }
        .product-header{
            padding-right: 30px;
        }
    }
    @media (max-width: 767px) {
        .text-and-button-wrapper-products{
            margin-top: 0;
            text-align: center;
            padding: 20px 0 43px 0;
        }
        .products-slider-wrapper .product-header {
            margin-bottom: 18px;
        }
        .product-header{
            padding-right: 16px;
            padding-bottom: 0;
        }
        .products-slider-content{
            margin-left: 16px;
        }
        .header-content{
            min-width: auto;
        }
        .text-and-button-wrapper-products{
            margin-top: 25px;
        }
        .text-block{
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 22px;
        }
        .products-slider-wrapper{
            padding: 26px 0;
        }
    }

    @media (max-width: 650px){
        .slider-buttons-wrapper{
            display: none;
        }
        .header-content {
            justify-content: flex-end;
        }
        .header-content{
            margin-right: 16px;
        }
        .products-slider-content {
            padding-right: 0!important;
            padding-left: 0!important;
        }
        .feature-columns .feature-products .product:nth-child(3n){
            margin-right: 16px!important;
        }

        .feature-columns .feature-products .product:not(:nth-child(3n)) {
            margin-right: 16px!important;
        }
        .product .image-wrapper img{
            max-height: 216px;
        }
        .product .image-wrapper img{
            max-height: 216px;
            margin: 0 auto;
        }
        .feature-list li img{
            max-width: 16px;
            margin-right: 10px;
        }
        .product-content{
            padding: 24px 32px 32px 32px;
        }
        .product-content h3{
            font-size: 18px;
            line-height: 26px;
            font-family: "Graphik-Regular";
            margin-bottom: 10px;
        }

        .product-content p{
            color: #6C6E73;
            font-size: 14px;
            line-height: 22px;
            font-family: "Graphik-Regular";
            margin-top: 0;
            min-height: auto;
            margin-bottom: 20px;
        }
        .bottom-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .product-price{
            font-size: 18px;
            line-height: 26px;
            font-family: "Graphik-Regular";
            font-weight: 600;
        }
        .feature-products button{
            background: none;
            padding: 0;
            margin: 0!important;
        }

        .feature-products .slick-list{
            padding: 0 10% 0 16px !important;
        }
        .header-content a.view-all-btn{
            margin-right: 0px;
        }

    }
    @media (max-width: 480px) {
        .review_arrow_left{
            margin-right: 10px;
        }
        .text-block{
            margin: 0 auto;
            margin-bottom: 16px;
        }
        .text-and-button-wrapper-products .hero__btn.transparent{
            max-width: 201px;
            min-height: 48px;
        }
        .products-slider-wrapper .product-header h2{
            font-size: 24px;
            line-height: 32px;
        }

        .header-content a.view-all-btn{
            font-size: 14px;
            line-height: 20px;
            border-bottom: none;
        }
        .feature-columns .product-header{
            align-items: baseline;
        }
        .product-content{
            padding: 20px 24px;
        }
        .product-content h3{
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 2px;
            min-height: 44px;
        }
        .product-content p{
            font-size: 14px;
            line-height: 22px;
            color: #8B9093;
            margin-bottom: 8px;
        }
        .feature-columns .feature-products .product .feature-list li{
            margin-bottom: 3px;
            font-size: 14px;
            line-height: 22px;
        }
        .feature-columns .feature-products .product .feature-list li:last-of-type{
            margin-bottom: 8px;
        }
        .feature-columns .feature-products .product .feature-list li img{
            margin-right: 12px;
        }
        .bottom-content{
            align-items: unset;
        }
        .product-price{
            font-size: 16px;
            line-height: 22px;
        }
        .add-to-cart-wrapper{
            display: none;
        }
        .add-to-cart-wrapper.mobile{
            display: block;
            position: absolute;
            bottom: 16px;
            right: 16px;
        }
        .image-wrapper{
            position: relative;
        }
        .feature-products .slick-list{
            padding: 0 30% 0 0px !important;
        }
        .products-slider-wrapper{
            padding-bottom: 12px;
        }
        .feature-products{
            margin-bottom: 0;
            display: flex;
        }
    }
</style>
{{ 'slick.min.js' | asset_url | script_tag }}

<script>
    $('.feature-products').slick({
        dots: false,
        infinite: true,
        speed: 300,
        variableWidth: true,
        slidesToShow: 5,
        slidesToScroll: 1,
        prevArrow: $('.prev-review-slide'),
        nextArrow: $('.next-review-slide'),
        responsive: [
            {
                breakpoint: 1540,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 860,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            }
        ]
    });

</script>

{% schema %}
{
"name": "Products slider",
"class": "index-section non-space",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "text",
"id": "button_label",
"label": "Button label"
},
{
"type": "url",
"id": "button_link",
"label": "Button link"
},
{
"type": "color",
"id": "background_color",
"label": "Background color"
},
{
    "type": "collection",
    "id": "featured_collection",
    "label" : "Featured Collection"
}
],
"blocks": [
{
"type": "product_item",
"name": "Product",
"settings": [
{
"type": "product",
"id": "product_item",
"label": "Product"
}
]
}
],
"presets": [
{
"name": "Products slider",
"category": "Slider",
"blocks": [
{
"type": "product_item"
},
{
"type": "product_item"
},
{
"type": "product_item"
}
]
}
]
}
{% endschema %}
