<div class="success_block">
    <div class="success_block_position">
        <div class="success_head">
            <h4>{{ section.settings.sub_head_s}}</h4>
            <h2>{{ section.settings.head_s}}</h2>
        </div>
        <div class="banner_scs">
            <img src="{{ section.settings.banner_scs | img_url: 'master'}}">
        </div>  
        <div class="success_info">
            <h3>{{ section.settings.text-box_s}}</h3>
            <a href="{{ section.settings.success_link}}">{{ section.settings.link_text_s}}</a>
        </div>
    </div>
</div>


<style>
    .success_block h2{
        font-weight: normal;
        font-size: 32px;
        line-height: 48px;
        text-transform: none;
        margin: 0;
    }
    .success_block h3{
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 32px;
        color: #6C6E73;

    }
    .success_block h4{
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 0 0 16px;
        color: #8B9093;

    }
    .success_block{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1440px;
        margin: auto;
    }
    .success_block_position{
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 120px;
    }
    .banner_scs{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: -69px;
    }
    .banner_scs img{
        max-width: 1360px;
    }
    .success_head{
        display: flex;
        max-width: 676px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 1;
    }
    .success_info{
        display: flex;
        max-width: 433px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: auto;
        padding: 80px 0;
        margin-right: 130px;
    }
    .success_info a{
        font-size: 16px;
        line-height: 20px;
        color: #FF4438;
        border-bottom: 2px solid;
    }
    .success_info a:hover{
        border-bottom: none;
    }
    @media screen and (max-width: 1170px){
        .success_info{
            margin-right: 0;
        }
    }
    @media screen and (max-width: 768px){
        .success_block{
            margin-bottom: 0;
        }
        .success_block_position{
            width: 90%;
        }
        .success_block h2{
            font-size: 28px;
            line-height: 44px;
            margin: 0 0 16px;
        }
        .achiv_block_position{
            margin-top: unset !important;
        }
        .success_block_position{
            margin-bottom: unset !important;
        }
        .success_info{
            max-width: 227px;
        }
        .banner_scs{
            margin-top: -81px;
        }
        .banner_scs img{
            width: 100%;
        }
    }
    @media screen and (max-width: 425px){
        .success_block h3{
            margin: 0 0 24px;
        }
        .success_block h4{
            margin: 0 0 16px;

        }
        .success_block_position{
            width: 100%;
        }
        .success_head{
            max-width: none;
            padding: 30px 32px;
        }
        .success_info{
            max-width: 235px;
            padding: 36px 32px 77px 0;
        }
        .banner_scs{
            margin-top: -122px;
        }
    }
    @media screen and (max-width: 375px){
        .banner_scs{
            margin-top: -154px;
        }
    }
</style>

{% schema %}
{
    "name": "success",
    "settings": [
        {
            "type": "image_picker",
            "id": "banner_scs",
            "label": "Description Image"
        },
        {
            "type": "image_picker",
            "id": "m_descr_img",
            "label": "Mobile Description Image"
        },
        {
            "id": "head_s",
            "type":"text",
			"label":"Heading",
			"default":"Tittle"
        },
        {
            "id": "sub_head_s",
            "type":"text",
			"label":"Heading",
			"default":"Tittle"
        },
        {
            "id": "text-box_s",
            "type":"text",
			"label":"Info",
			"default":"Information"
        },
        {
            "id": "success_link",
            "type":"url",
			"label":"Link"
        },
        {
            "id": "link_text_s",
            "type":"text",
			"label":"Link text",
            "default":"Link Text"
        }
    ]
}
{% endschema %}